<?xml version="1.0" encoding="utf-8" ?> 
<root>
	<icon>
		<code>\[\:-\)\]</code>
		<src>admin.ashx?img=smile/icon_smile.gif</src>
		<alt>:)</alt>
	</icon>
	<icon>
		<code>\[\:-D\]</code>
		<src>admin.ashx?img=smile/icon_cheesygrin.gif</src>
		<alt>:-D</alt>
	</icon>
	<icon>
		<code>\[\:\~\]</code>
		<src>admin.ashx?img=smile/icon_confused.gif</src>
		<alt>:~</alt>
	</icon>
	<icon>
		<code>\[\:-\(\]</code>
		<src>admin.ashx?img=smile/icon_sad.gif</src>
		<alt>:(</alt>
	</icon>
	<icon>
		<code>\[8-\)\]</code>
		<src>admin.ashx?img=smile/icon_cool.gif</src>
		<alt>8-)</alt>
	</icon>
	<icon>
		<code>\[\:'\(\]</code>
		<src>admin.ashx?img=smile/icon_cry.gif</src>
		<alt>:'(</alt>
	</icon>
	<icon>
		<code>\[=-o\]</code>
		<src>admin.ashx?img=smile/icon_eek.gif</src>
		<alt>=-o</alt>
	</icon>
	<icon>
		<code>\[\]\:-\]\]</code>
		<src>admin.ashx?img=smile/icon_evil.gif</src>
		<alt>]:-]</alt>
	</icon>
	<icon>
		<code>\[lol\]</code>
		<src>admin.ashx?img=smile/icon_lol.gif</src>
		<alt>lol</alt>
	</icon>
	<icon>
		<code>\[\:-\|\]</code>
		<src>admin.ashx?img=smile/icon_neutral.gif</src>
		<alt>:-|</alt>
	</icon>
	<icon>
		<code>\[\:-\[\]</code>
		<src>admin.ashx?img=smile/icon_redface.gif</src>
		<alt>:-[</alt>
	</icon>
	<icon>
		<code>\[%-\)\]</code>
		<src>admin.ashx?img=smile/icon_rolleyes.gif</src>
		<alt>%-)</alt>
	</icon>
	<icon>
		<code>\[;-\)\]</code>
		<src>admin.ashx?img=smile/icon_wink.gif</src>
		<alt>;-)</alt>
	</icon>
	<bb>
		<name>[b]</name>
		<pattern>\[b(?:\s*)\]((.|\n)*?)\[/b(?:\s*)\]</pattern>
		<replacement>&lt;strong&gt;$1&lt;/strong&gt;</replacement>
	</bb>
	<bb>
		<name>[i]</name>
		<pattern>\[i(?:\s*)\]((.|\n)*?)\[/i(?:\s*)\]</pattern>
		<replacement>&lt;em&gt;$1&lt;/em&gt;</replacement>
	</bb>
	<bb>
		<name>[u]</name>
		<pattern>\[u(?:\s*)\]((.|\n)*?)\[/u(?:\s*)\]</pattern>
		<replacement>&lt;u&gt;$1&lt;/u&gt;</replacement>
	</bb>
	<bb>
		<name>[s]</name>
		<pattern>\[s(?:\s*)\]((.|\n)*?)\[/s(?:\s*)\]</pattern>
		<replacement>&lt;strike&gt;$1&lt;/strike&gt;</replacement>
	</bb>
	<bb>
		<name>[quote]</name>
		<pattern>\[quote(?:\s*)\]((.|\n)*?)\[/quote(?:\s*)\]</pattern>
		<replacement>&lt;div style="background-color:#eee;padding:5px; border:1px inset #ccc;margin: 5px 0px 10px 20px;"&gt;$1&lt;/div&gt;</replacement>
	</bb>
	<bb>
		<name>[quote]</name>
		<pattern>\[quote(?:\s*)=((.|\n)*?)\]((.|\n)*?)\[/quote(?:\s*)\]</pattern>
		<replacement>&lt;strong style="display:block;margin-left:20px"&gt;$1:&lt;/strong&gt;&lt;div style="background-color:#eee;padding:5px; border:1px inset #ccc;margin: 5px 0px 10px 20px;"&gt;&lt;!--br /--&gt;$3&lt;/div&gt;</replacement>
	</bb>
	<bb>
		<name>[url]</name>
		<pattern>\[a href=(http|https|ftp)\:\/\/((.|\n)*?)(?:\s*)\]((.|\n)*?)\[/a(?:\s*)\]</pattern>
		<replacement>&lt;a href="$1://$2" target="_blank" &gt;$4&lt;/a&gt;</replacement>
	</bb>
	<bb>
		<name>[img]</name>
		<pattern>\[img(?:\s*)\]((.|\n)*?)\[/img(?:\s*)\]</pattern>
		<replacement>&lt;img src="$1" border="0" /&gt;</replacement>
	</bb>
	<bb>
		<name>[color]</name>
		<pattern>\[color=((.|\n)*?)(?:\s*)\]((.|\n)*?)\[/color(?:\s*)\]</pattern>
		<replacement>&lt;span style="color:$1;"&gt;$3&lt;/span&gt;</replacement>
	</bb>
	<bb>
		<name>[bgcolor]</name>
		<pattern>\[bgcolor=((.|\n)*?)(?:\s*)\]((.|\n)*?)\[/bgcolor(?:\s*)\]</pattern>
		<replacement>&lt;span style="background-color:$1;"&gt;$3&lt;/span&gt;</replacement>
	</bb>
	<bb>
		<name>[hr]</name>
		<pattern>\[hr(?:\s*)\]</pattern>
		<replacement>&lt;hr /&gt;</replacement>
	</bb>
	<bb>
		<name>[email]</name>
		<pattern>\[email(?:\s*)\]((.|\n)*?)\[/email(?:\s*)\]</pattern>
		<replacement>&lt;a href="mailto:$1"&gt;$1&lt;/a&gt;</replacement>
	</bb>
	<bb>
		<name>[font]</name>
		<pattern>\[font=((.|\n)*?)(?:\s*)\]((.|\n)*?)\[/font(?:\s*)\]</pattern>
		<replacement>&lt;span style="font-family:$1;"&gt;$3&lt;/span&gt;</replacement>
	</bb>
	<bb>
		<name>[size]</name>
		<pattern>\[size=((.|\n)*?)(?:\s*)\]((.|\n)*?)\[/size(?:\s*)\]</pattern>
		<replacement>&lt;span style="font-size:$1"&gt;$3&lt;/span&gt;</replacement>
	</bb>
</root>