<?xml version="1.0" encoding="utf-8" ?>
<root>
<counter id="0">
	<img>~/img/counter.gif</img>
	<padding>1</padding>
	<font>Monospace</font>
	<size>7</size>
	<rgb>0,0,0</rgb>
	<start>0</start>
</counter>
<counter id="1">
	<img>~/img/counter.gif</img>
	<padding>1</padding>
	<font>Arial</font>
	<size>8</size>
	<rgb>99,0,0</rgb>
	<start>0</start>
</counter>
</root>