<?xml version="1.0" encoding="utf-8" ?>
<root>
	<folder>
		<name>~/</name>
		<allow>1</allow>
	</folder>
	<folder>
		<name>~/bin/</name>
		<allow>0</allow>
	</folder>
	<folder>
		<name>~/admin/</name>
		<allow>0</allow>
	</folder>
	<folder>
		<name>~/config/</name>
		<allow>0</allow>
	</folder>
</root>