<?xml version="1.0" standalone="yes" ?>
<root>
	<common>
		<imgtypes>gif;jpg;jpeg;png;bmp;ico</imgtypes>
		<folders>~</folders>
		<ha>0</ha>
	</common>
	<filetype>
		<extention>;_folder_up_;</extention>
		<iconpath>~/admin.ashx?img=explorer/folder_up.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;_folder_;</extention>
		<iconpath>~/admin.ashx?img=explorer/folder_closed.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;_place_holder_;</extention>
		<iconpath>~/admin.ashx?img=explorer/img_ph.gif</iconpath>
	</filetype>
	<filetype>
		<extention>*</extention>
		<iconpath>~/admin.ashx?img=explorer/file.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;htm;html;</extention>
		<iconpath>~/admin.ashx?img=explorer/ie.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;aspx;</extention>
		<iconpath>~/admin.ashx?img=explorer/aspx.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;ascx;</extention>
		<iconpath>~/admin.ashx?img=explorer/ascx.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;cs;</extention>
		<iconpath>~/admin.ashx?img=explorer/cs.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;dll;</extention>
		<iconpath>~/admin.ashx?img=explorer/dll.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;exe;</extention>
		<iconpath>~/admin.ashx?img=explorer/exe.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;gif;png;bmp;ico;</extention>
		<iconpath>~/admin.ashx?img=explorer/gif.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;jpg;jpeg;</extention>
		<iconpath>~/admin.ashx?img=explorer/jpg.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;rar;zip;</extention>
		<iconpath>~/admin.ashx?img=explorer/archives.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;config;</extention>
		<iconpath>~/admin.ashx?img=explorer/config.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;txt;rtf;</extention>
		<iconpath>~/admin.ashx?img=explorer/txt.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;doc;</extention>
		<iconpath>~/admin.ashx?img=explorer/doc.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;sln;csproj;vbproj;</extention>
		<iconpath>~/admin.ashx?img=explorer/vs.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;webinfo;resx;suo;vb;vsdisco;soap;java;jsl;resources;rem;licxs;axd;asmx;ashx;</extention>
		<iconpath>~/admin.ashx?img=explorer/vsu.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;vbs;js;wsf;</extention>
		<iconpath>~/admin.ashx?img=explorer/js.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;xml;</extention>
		<iconpath>~/admin.ashx?img=explorer/xml.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;asax;asa;</extention>
		<iconpath>~/admin.ashx?img=explorer/asax.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;asp;</extention>
		<iconpath>~/admin.ashx?img=explorer/asp.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;css;</extention>
		<iconpath>~/admin.ashx?img=explorer/css.gif</iconpath>
	</filetype>
	<filetype>
		<extention>;php;phtml;shtml;php3;php4;pl;</extention>
		<iconpath>~/admin.ashx?img=explorer/script.gif</iconpath>
	</filetype>
	<filetemplate>
		<id>;ascx;</id>
		<content>&lt;%@ Control Language="c#"%&gt;
&lt;%@ Import Namespace="Sota.Web.SimpleSite"%&gt;
&lt;%@ Import Namespace="Sota.Data.Simple"%&gt;
&lt;%@ Import Namespace="System.Data"%&gt;
&lt;%@ Register TagPrefix="sota" Namespace="Sota.Web.UI.WebControls" Assembly="SotaSimpleSite"%&gt;
&lt;script runat="server"&gt;
void Page_Load(object sender, EventArgs e)
{
	
}
&lt;/script&gt;
		</content>
	</filetemplate>
	<filetemplate>
		<id>;aspx;</id>
		<content>&lt;%@ Page language="c#" Inherits="System.Web.UI.Page"%&gt;&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" &gt;
&lt;html&gt;
	&lt;head&gt;
		&lt;title&gt;&lt;/title&gt;
		&lt;meta http-equiv="Content-Type" content="text/html; charset=windows-1251"&gt;
	&lt;/head&gt;
	&lt;body&gt;
	&lt;/body&gt;
&lt;/html&gt;</content>
	</filetemplate>
	<filetemplate>
		<id>;aspx-sota;</id>
		<content>&lt;%@ Page language="c#"%&gt;&lt;%@ Register TagPrefix="sota" Assembly="SotaSimpleSite" Namespace="Sota.Web.SimpleSite"%&gt;&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" &gt;
&lt;html&gt;
	&lt;head&gt;&lt;%Sota.Web.SimpleSite.PageInfo pi = PageInfo;%&gt;
		&lt;title&gt;&lt;%=SiteMap.Title%&gt;&lt;/title&gt;
		&lt;meta http-equiv="Content-Type" content="text/html; charset=windows-1251"&gt;
		&lt;meta name="keywords" content="&lt;%=pi.KeyWords%&gt;"&gt;
		&lt;meta name="decription" content="&lt;%=pi.Description%&gt;"&gt;
		&lt;%=pi.Head%&gt;
	&lt;/head&gt;
	&lt;body&gt;
		&lt;sota:form id="frmMain" method="post" runat="server"&gt;
		&lt;asp:placeholder id="phContent" runat="server"&gt;&lt;/asp:placeholder&gt;
		&lt;/sota:form&gt;
	&lt;/body&gt;
&lt;/html&gt;</content>
	</filetemplate>
	<filetemplate>
		<id>;html;htm;</id>
		<content>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" &gt;
&lt;html&gt;
	&lt;head&gt;
		&lt;title&gt;&lt;/title&gt;
		&lt;meta http-equiv="Content-Type" content="text/html; charset=windows-1251"&gt;
	&lt;/head&gt;
	&lt;body&gt;
	&lt;/body&gt;
&lt;/html&gt;</content>
	</filetemplate>
	<filetemplate>
		<id>;xml;config;</id>
		<content>&lt;?xml version="1.0" encoding="utf-8" ?&gt;&lt;root&gt;&lt;/root&gt;</content>
	</filetemplate>
	<filetemplate>
		<id>;config-list;</id>
		<content>&lt;?xml version="1.0" encoding="utf-8" ?&gt;&lt;root&gt;
  &lt;list&gt;
    &lt;providertype&gt;sql&lt;/providertype&gt;
      &lt;connectionstring /&gt;
      &lt;table /&gt;
      &lt;searchin&gt;0&lt;/searchin&gt;
  &lt;/list&gt;
  &lt;editor&gt;
	&lt;part&gt;-2&lt;/part&gt;
	&lt;root_icon /&gt;
    &lt;closeall_icon /&gt;
    &lt;openall_icon /&gt;
    &lt;levels&gt;0&lt;/levels&gt;
    &lt;sort_expression&gt;_level ASC&lt;/sort_expression&gt;
    &lt;no_icon&gt;1&lt;/no_icon&gt;
  &lt;/editor&gt;
  &lt;search_url&gt;
    &lt;level&gt;default&lt;/level&gt;
    &lt;url&gt;[@_id].aspx&lt;/url&gt;
  &lt;/search_url&gt;
  &lt;search_title&gt;
    &lt;level&gt;default&lt;/level&gt;
    &lt;title&gt;[@_id]&lt;/title&gt;
  &lt;/search_title&gt;
  &lt;delete_question&gt;
    &lt;level&gt;default&lt;/level&gt;
    &lt;question&gt;Вы уверены, что хотите удалить элемент?&lt;/question&gt;
  &lt;/delete_question&gt;
  &lt;level_view&gt;
    &lt;level&gt;default&lt;/level&gt;
    &lt;url&gt;[@_id].aspx&lt;/url&gt;
  &lt;/level_view&gt;
  &lt;level_tree_icon&gt;
    &lt;level&gt;default&lt;/level&gt;
    &lt;new_item_icon&gt;&lt;/new_item_icon&gt;
    &lt;new_item_caption&gt;[+]&lt;/new_item_caption&gt;
    &lt;icon&gt;&lt;/icon&gt;
    &lt;icon_deleted&gt;&lt;/icon_deleted&gt;
  &lt;/level_tree_icon&gt;
  &lt;tree_caption&gt;
    &lt;level&gt;default&lt;/level&gt;
    &lt;expression&gt;[@name]&lt;/expression&gt;
  &lt;/tree_caption&gt;
    &lt;column&gt;
    &lt;fieldname&gt;name&lt;/fieldname&gt;
    &lt;caption&gt;Название&lt;/caption&gt;
    &lt;datatype&gt;String&lt;/datatype&gt;
    &lt;inputtype&gt;text&lt;/inputtype&gt;
    &lt;defaultvalue /&gt;
    &lt;allownull&gt;1&lt;/allownull&gt;
    &lt;levels&gt;0&lt;/levels&gt;
  &lt;/column&gt;
&lt;/root&gt;</content>
	</filetemplate>
</root>