<?xml version="1.0" encoding="utf-8" ?>
<root>
	<config>
		<by>path|domain|qs=lang</by>
		<on>0</on>
	</config>
  <language id="ru">
    <sname>рус</sname>
    <name>Русский</name>
    <culture>ru-ru</culture>
    <by>ru</by>
  </language>
  <language id="en">
    <sname>eng</sname>
    <name>English</name>
    <culture>en-US</culture>
    <by>en</by>
  </language>
</root>