<?xml version="1.0" standalone="yes"?>
<root>
  <provider>
    <name>Обычный список</name>
    <type>Sota.Web.SimpleSite.List,SotaSimpleSite</type>
  </provider>
  <provider>
    <name>MS SQL Server</name>
    <type>Sota.Web.SimpleSite.SqlList,SotaSimpleSite</type>
  </provider>
  <provider>
    <name>XML Single File</name>
    <type>Sota.Web.SimpleSite.XmlList,SotaSimpleSite</type>
  </provider>
 
</root>