<?xml version="1.0" encoding="utf-8" ?>
<root>
	<xml_pattern>
		<name>selectall</name>
		<pattern>*.config</pattern>
	</xml_pattern>
	<xml_pattern>
		<name>selectitem</name>
		<pattern>{0}_*.config</pattern>
	</xml_pattern>
	<xml_pattern>
		<name>selectchildren</name>
		<pattern>*_{0}.config</pattern>
	</xml_pattern>
	<list_table>
		<provider>sql</provider>
		<id>iItemId</id>
		<pid>iParentId</pid>
		<guid>sGuid</guid>
		<listname>sListName</listname>
		<deleted>iDeleted</deleted>
		<level>iLevel</level>
	</list_table>
	<value_table>
		<provider>sql</provider>
		<id>iItemId</id>
		<fieldname>sFieldName</fieldname>
		<value>sValue</value>
	</value_table>
	<sql>
		<key>search</key>
		<provider>sql</provider>
		<value><![CDATA[
			SELECT l.iItemId, l.sGuid, f.sFieldName, f.sValue, 
			l.iParentId, l.iDeleted, l.iLevel 
			FROM List l
			INNER JOIN ListItemField f
			ON l.iItemId = f.iItemId
			AND l.sListName = @sListName
			AND l.iItemId IN (SELECT iItemId FROM ListItemField WHERE sValue LIKE '%'+@sText+'%')
			ORDER BY iItemId
			]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>search</sqlkey>
		<provider>sql</provider>
		<order>1</order>
		<parametername>@sListName</parametername>
		<dbtype>String</dbtype>
		<key>list_name</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>search</sqlkey>
		<provider>sql</provider>
		<order>2</order>
		<parametername>@sText</parametername>
		<dbtype>String</dbtype>
		<key>text</key>
	</sql_parameter>
	<sql>
		<key>selectallfull</key>
		<provider>sql</provider>
		<value><![CDATA[
			SELECT l.iItemId, l.sGuid, f.sFieldName, f.sValue, 
			l.iParentId, l.iDeleted, l.iLevel 
			FROM (SELECT * FROM List 
			WHERE sListName = @sListName) l
			LEFT JOIN ListItemField f 
			ON f.iItemId = l.iItemId
			ORDER BY iItemId
			]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>selectallfull</sqlkey>
		<provider>sql</provider>
		<order>1</order>
		<parametername>@sListName</parametername>
		<dbtype>String</dbtype>
		<key>list_name</key>
	</sql_parameter>
	<sql>
		<key>selectall</key>
		<provider>sql</provider>
		<value><![CDATA[
			SELECT * 
			FROM List 
			WHERE sListName = @sListName
			]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>selectall</sqlkey>
		<provider>sql</provider>
		<order>1</order>
		<parametername>@sListName</parametername>
		<dbtype>String</dbtype>
		<key>list_name</key>
	</sql_parameter>
	<sql>
		<key>selectrootitems</key>
		<provider>sql</provider>
		<value><![CDATA[
			SELECT l.iItemId, l.sGuid, f.sFieldName, f.sValue, 
			l.iParentId, l.iDeleted, l.iLevel
			FROM (SELECT * FROM List 
			WHERE iParentId = -1
			AND sListName = @sListName) l
			LEFT JOIN ListItemField f 
			ON f.iItemId = l.iItemId
			ORDER BY iItemId
			]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>selectrootitems</sqlkey>
		<provider>sql</provider>
		<order>1</order>
		<parametername>@sListName</parametername>
		<dbtype>String</dbtype>
		<key>list_name</key>
	</sql_parameter>
	<sql>
		<key>selectchildren</key>
		<provider>sql</provider>
		<value><![CDATA[
			SELECT l.iItemId, l.sGuid, f.sFieldName, f.sValue, 
			l.iParentId, l.iDeleted, l.iLevel
			FROM (SELECT * FROM List 
			WHERE iParentId = @iParentId
			AND sListName=@sListName) l
			LEFT JOIN ListItemField f 
			ON f.iItemId = l.iItemId
			ORDER BY iItemId
			]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>selectchildren</sqlkey>
		<provider>sql</provider>
		<order>1</order>
		<parametername>@iParentId</parametername>
		<dbtype>Int32</dbtype>
		<key>parent_id</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>selectchildren</sqlkey>
		<provider>sql</provider>
		<order>2</order>
		<parametername>@sListName</parametername>
		<dbtype>String</dbtype>
		<key>list_name</key>
	</sql_parameter>
	<sql>
		<key>selectparentitems</key>
		<provider>sql</provider>
		<value><![CDATA[
			SELECT l.iItemId, l.sGuid, f.sFieldName, f.sValue, 
			l.iParentId, l.iDeleted, l.iLevel 
			FROM (SELECT * FROM List
			WHERE iParentId=@iParentId AND
			sListName=@sListName AND
			iItemId IN (SELECT iParentId FROM List)) l
			LEFT JOIN ListItemField f 
			ON f.iItemId = l.iItemId
			ORDER BY iItemId
			]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>selectparentitems</sqlkey>
		<provider>sql</provider>
		<order>1</order>
		<parametername>@iParentId</parametername>
		<dbtype>Int32</dbtype>
		<key>parent_id</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>selectparentitems</sqlkey>
		<provider>sql</provider>
		<order>2</order>
		<parametername>@sListName</parametername>
		<dbtype>String</dbtype>
		<key>list_name</key>
	</sql_parameter>
	<sql>
		<key>selectitem</key>
		<provider>sql</provider>
		<value><![CDATA[
			SELECT l.iItemId, l.sGuid, f.sFieldName, f.sValue, 
			l.iParentId, l.iDeleted, l.iLevel
			FROM (SELECT * FROM List 
			WHERE iItemId = @iItemId
			AND sListName=@sListName) l
			LEFT JOIN ListItemField f 
			ON f.iItemId = l.iItemId
			]]></value>
	</sql>
	<sql_parameter>
		<key>item_id</key>
		<sqlkey>selectitem</sqlkey>
		<provider>sql</provider>
		<order>1</order>
		<parametername>@iItemId</parametername>
		<dbtype>Int32</dbtype>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>selectitem</sqlkey>
		<provider>sql</provider>
		<order>2</order>
		<parametername>@sListName</parametername>
		<dbtype>String</dbtype>
		<key>list_name</key>
	</sql_parameter>
	<sql>
		<key>selectnextitem</key>
		<provider>sql</provider>
		<value><![CDATA[
			SELECT l.iItemId, l.sGuid, f.sFieldName, f.sValue, 
			l.iParentId, l.iDeleted, l.iLevel
			FROM (SELECT TOP 1 * FROM List 
			WHERE iItemId > @iItemId
			AND iParentId in (SELECT iParentId 
			FROM List WHERE iItemId = @iItemId)
			AND sListName in (SELECT sListName 
			FROM List WHERE iItemId = @iItemId)
			ORDER BY iItemId ASC) l
			LEFT JOIN ListItemField f 
			ON f.iItemId = l.iItemId
			]]></value>
	</sql>
	<sql_parameter>
		<key>item_id</key>
		<sqlkey>selectnextitem</sqlkey>
		<provider>sql</provider>
		<order>1</order>
		<parametername>@iItemId</parametername>
		<dbtype>Int32</dbtype>
	</sql_parameter>
	<sql>
		<key>selectprevitem</key>
		<provider>sql</provider>
		<value><![CDATA[
			SELECT l.iItemId, l.sGuid, f.sFieldName, f.sValue, 
			l.iParentId, l.iDeleted, l.iLevel
			FROM (SELECT TOP 1 * FROM List 
			WHERE iItemId < @iItemId
			AND iParentId in (SELECT iParentId 
			FROM List WHERE iItemId = @iItemId)
			AND sListName in (SELECT sListName 
			FROM List WHERE iItemId = @iItemId)
			ORDER BY iItemId DESC) l
			LEFT JOIN ListItemField f 
			ON f.iItemId = l.iItemId
			]]></value>
	</sql>
	<sql_parameter>
		<key>item_id</key>
		<sqlkey>selectprevitem</sqlkey>
		<provider>sql</provider>
		<order>1</order>
		<parametername>@iItemId</parametername>
		<dbtype>Int32</dbtype>
	</sql_parameter>
	<sql>
		<key>insertitem</key>
		<provider>sql</provider>
		<value><![CDATA[
			INSERT INTO List(iParentId, sGuid, sListName, iDeleted, iLevel)
			VALUES(@iParentId,@sGuid,@sListName,@iDeleted, @iLevel)
			]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>insertitem</sqlkey>
		<provider>sql</provider>
		<order>1</order>
		<parametername>@iParentId</parametername>
		<dbtype>Int32</dbtype>
		<key>parent_id</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>insertitem</sqlkey>
		<provider>sql</provider>
		<order>2</order>
		<parametername>@sGuid</parametername>
		<dbtype>String</dbtype>
		<key>guid</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>insertitem</sqlkey>
		<provider>sql</provider>
		<order>3</order>
		<parametername>@sListName</parametername>
		<dbtype>String</dbtype>
		<key>list_name</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>insertitem</sqlkey>
		<provider>sql</provider>
		<order>4</order>
		<parametername>@iDeleted</parametername>
		<dbtype>Int32</dbtype>
		<key>deleted</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>insertitem</sqlkey>
		<provider>sql</provider>
		<order>5</order>
		<parametername>@iLevel</parametername>
		<dbtype>Int32</dbtype>
		<key>level</key>
	</sql_parameter>
	<sql>
		<key>selectitemid</key>
		<provider>sql</provider>
		<value><![CDATA[
			SELECT iItemId 
			FROM List 
			WHERE sGuid = @sGuid
			]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>selectitemid</sqlkey>
		<provider>sql</provider>
		<order>1</order>
		<parametername>@sGuid</parametername>
		<dbtype>String</dbtype>
		<key>guid</key>
	</sql_parameter>
	<sql>
		<key>insertfield</key>
		<provider>sql</provider>
		<value><![CDATA[
			INSERT INTO ListItemField(iItemId, sFieldName, sValue)
			VALUES(@iItemId,@sFieldName,@sValue)
			]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>insertfield</sqlkey>
		<provider>sql</provider>
		<order>1</order>
		<parametername>@iItemId</parametername>
		<dbtype>Int32</dbtype>
		<key>item_id</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>insertfield</sqlkey>
		<provider>sql</provider>
		<order>2</order>
		<parametername>@sFieldName</parametername>
		<dbtype>String</dbtype>
		<key>field_name</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>insertfield</sqlkey>
		<provider>sql</provider>
		<order>3</order>
		<parametername>@sValue</parametername>
		<dbtype>String</dbtype>
		<key>value</key>
	</sql_parameter>
	<sql>
		<key>updateitem</key>
		<provider>sql</provider>
		<value><![CDATA[
			UPDATE List SET 
			iParentId = @iParentId, 
			sListName = @sListName, 
			iDeleted = @iDeleted, 
			iLevel = @iLevel
			WHERE iItemId = @iItemId
			]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>updateitem</sqlkey>
		<provider>sql</provider>
		<order>1</order>
		<parametername>@iParentId</parametername>
		<dbtype>Int32</dbtype>
		<key>parent_id</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>updateitem</sqlkey>
		<provider>sql</provider>
		<order>2</order>
		<parametername>@sListName</parametername>
		<dbtype>String</dbtype>
		<key>list_name</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>updateitem</sqlkey>
		<provider>sql</provider>
		<order>3</order>
		<parametername>@iDeleted</parametername>
		<dbtype>Int32</dbtype>
		<key>deleted</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>updateitem</sqlkey>
		<provider>sql</provider>
		<order>4</order>
		<parametername>@iLevel</parametername>
		<dbtype>Int32</dbtype>
		<key>level</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>updateitem</sqlkey>
		<provider>sql</provider>
		<order>5</order>
		<parametername>@iItemId</parametername>
		<dbtype>Int32</dbtype>
		<key>item_id</key>
	</sql_parameter>
	<sql>
		<key>deleteitem</key>
		<provider>sql</provider>
		<value><![CDATA[
			DELETE FROM List WHERE iItemId = @iItemId
			AND NOT iItemId IN (SELECT iParentId FROM List)
			]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>deleteitem</sqlkey>
		<provider>sql</provider>
		<order>1</order>
		<parametername>@iItemId</parametername>
		<dbtype>Int32</dbtype>
		<key>item_id</key>
	</sql_parameter>
	<sql>
		<key>deleteallfields</key>
		<provider>sql</provider>
		<value><![CDATA[
			DELETE FROM ListItemField WHERE iItemId = @iItemId
			]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>deleteallfields</sqlkey>
		<provider>sql</provider>
		<order>1</order>
		<parametername>@iItemId</parametername>
		<dbtype>Int32</dbtype>
		<key>item_id</key>
	</sql_parameter>
	<sql>
		<key>deletefield</key>
		<provider>sql</provider>
		<value><![CDATA[
			DELETE FROM ListItemField WHERE iItemId = @iItemId AND sFieldName = @sFieldName
			]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>deletefield</sqlkey>
		<provider>sql</provider>
		<order>1</order>
		<parametername>@iItemId</parametername>
		<dbtype>Int32</dbtype>
		<key>item_id</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>deletefield</sqlkey>
		<provider>sql</provider>
		<order>2</order>
		<parametername>@sFieldName</parametername>
		<dbtype>String</dbtype>
		<key>field_name</key>
	</sql_parameter>
	 <sql>
        <key>findbyfield</key>
        <provider>sql</provider>
        <value><![CDATA[
			SELECT l.iItemId, l.sGuid, f.sFieldName, f.sValue, 
			l.iParentId, l.iDeleted, l.iLevel 
			FROM (SELECT l1.* FROM List l1
			INNER JOIN  ListItemField f1
			ON f1.iItemId = l1.iItemId
			AND l1.sListName = @sListName
			AND f1.sFieldName = @sFieldName
			AND f1.sValue LIKE @sValue) l
			LEFT JOIN ListItemField f 
			ON f.iItemId = l.iItemId
			ORDER BY iItemId
			]]></value>
    </sql>
    <sql_parameter>
        <sqlkey>findbyfield</sqlkey>
        <provider>sql</provider>
        <order>1</order>
        <parametername>@sListName</parametername>
        <dbtype>String</dbtype>
        <key>list_name</key>
    </sql_parameter>
	<sql_parameter>
        <sqlkey>findbyfield</sqlkey>
        <provider>sql</provider>
        <order>2</order>
        <parametername>@sFieldName</parametername>
        <dbtype>String</dbtype>
        <key>field_name</key>
    </sql_parameter>
    <sql_parameter>
        <sqlkey>findbyfield</sqlkey>
        <provider>sql</provider>
        <order>3</order>
        <parametername>@sValue</parametername>
        <dbtype>String</dbtype>
        <key>value</key>
    </sql_parameter>
	<list_table>
        <provider>oledb</provider>
        <id>iItemId</id>
        <pid>iParentId</pid>
        <guid>sGuid</guid>
        <listname>sListName</listname>
        <deleted>iDeleted</deleted>
        <level>iLevel</level>
    </list_table>
    <value_table>
        <provider>oledb</provider>
        <id>iItemId</id>
        <fieldname>sFieldName</fieldname>
        <value>sValue</value>
    </value_table>
    <sql>
        <key>search</key>
        <provider>oledb</provider>
        <value><![CDATA[
			SELECT l.iItemId, l.sGuid, f.sFieldName, f.sValue, 
			l.iParentId, l.iDeleted, l.iLevel 
			FROM (List AS l
			INNER JOIN ListItemField AS f
			ON l.iItemId = f.iItemId)
			INNER JOIN  (SELECT iItemId FROM ListItemField WHERE sValue LIKE '%'+?+'%') AS lf
			ON lf.iItemId=l.iItemId
			WHERE l.sListName = ?
			ORDER BY iItemId
			]]></value>
    </sql>
    <sql_parameter>
        <sqlkey>search</sqlkey>
        <provider>oledb</provider>
        <order>2</order>
        <parametername>@sListName</parametername>
        <dbtype>String</dbtype>
        <key>list_name</key>
    </sql_parameter>
    <sql_parameter>
        <sqlkey>search</sqlkey>
        <provider>oledb</provider>
        <order>1</order>
        <parametername>@sText</parametername>
        <dbtype>String</dbtype>
        <key>text</key>
    </sql_parameter>
    <sql>
        <key>selectallfull</key>
        <provider>oledb</provider>
        <value><![CDATA[
			SELECT l.iItemId, l.sGuid, f.sFieldName, f.sValue, 
			l.iParentId, l.iDeleted, l.iLevel 
			FROM (SELECT * FROM List 
			WHERE sListName = ?) AS l
			LEFT JOIN ListItemField AS f 
			ON f.iItemId = l.iItemId
			ORDER BY iItemId
			]]></value>
    </sql>
    <sql_parameter>
        <sqlkey>selectallfull</sqlkey>
        <provider>oledb</provider>
        <order>1</order>
        <parametername>@sListName</parametername>
        <dbtype>String</dbtype>
        <key>list_name</key>
    </sql_parameter>
    <sql>
        <key>selectall</key>
        <provider>oledb</provider>
        <value><![CDATA[
			SELECT * 
			FROM List 
			WHERE sListName = ?
			ORDER BY iItemId
			]]></value>
    </sql>
    <sql_parameter>
        <sqlkey>selectall</sqlkey>
        <provider>oledb</provider>
        <order>1</order>
        <parametername>@sListName</parametername>
        <dbtype>String</dbtype>
        <key>list_name</key>
    </sql_parameter>
    <!--selectrootitems-->
    <sql>
        <key>selectrootitems</key>
        <provider>oledb</provider>
        <value><![CDATA[
			SELECT l.iItemId, l.sGuid, f.sFieldName, f.sValue, 
			l.iParentId, l.iDeleted, l.iLevel
			FROM (SELECT * FROM List 
			WHERE iParentId = -1
			AND sListName = ?) AS l
			LEFT JOIN ListItemField AS f 
			ON f.iItemId = l.iItemId
			ORDER BY iItemId
			]]></value>
    </sql>
    <sql_parameter>
        <sqlkey>selectrootitems</sqlkey>
        <provider>oledb</provider>
        <order>1</order>
        <parametername>@sListName</parametername>
        <dbtype>String</dbtype>
        <key>list_name</key>
    </sql_parameter>
    <sql>
        <key>selectchildren</key>
        <provider>oledb</provider>
        <value><![CDATA[
			SELECT l.iItemId, l.sGuid, f.sFieldName, f.sValue, 
			l.iParentId, l.iDeleted, l.iLevel
			FROM (SELECT * FROM List 
			WHERE iParentId = ?) AS l
			LEFT JOIN ListItemField AS f 
			ON f.iItemId = l.iItemId
			ORDER BY iItemId
			]]></value>
    </sql>
    <sql_parameter>
        <sqlkey>selectchildren</sqlkey>
        <provider>oledb</provider>
        <order>1</order>
        <parametername>@iParentId</parametername>
        <dbtype>Int32</dbtype>
        <key>parent_id</key>
    </sql_parameter>
    <sql>
        <key>selectparentitems</key>
        <provider>oledb</provider>
        <value><![CDATA[
			SELECT l.iItemId, l.sGuid, f.sFieldName, f.sValue, 
			l.iParentId, l.iDeleted, l.iLevel 
			FROM (SELECT l1.* FROM List AS l1
			INNER JOIN List AS l2
			ON l1.iItemID = l2.iParentId
			WHERE l1.iParentId=? AND
			l1.sListName=?) l
			LEFT JOIN ListItemField AS f 
			ON f.iItemId = l.iItemId
			ORDER BY iItemId
			]]></value>
    </sql>
    <sql_parameter>
        <sqlkey>selectparentitems</sqlkey>
        <provider>oledb</provider>
        <order>1</order>
        <parametername>@iParentId</parametername>
        <dbtype>Int32</dbtype>
        <key>parent_id</key>
    </sql_parameter>
    <sql_parameter>
        <sqlkey>selectparentitems</sqlkey>
        <provider>oledb</provider>
        <order>2</order>
        <parametername>@sListName</parametername>
        <dbtype>String</dbtype>
        <key>list_name</key>
    </sql_parameter>
    <sql>
        <key>selectitem</key>
        <provider>oledb</provider>
        <value><![CDATA[
			SELECT l.iItemId, l.sGuid, f.sFieldName, f.sValue, 
			l.iParentId, l.iDeleted, l.iLevel
			FROM (SELECT * FROM List 
			WHERE iItemId = ?) AS l
			LEFT JOIN ListItemField  AS f 
			ON f.iItemId = l.iItemId
			]]></value>
    </sql>
    <sql_parameter>
        <key>item_id</key>
        <sqlkey>selectitem</sqlkey>
        <provider>oledb</provider>
        <order>1</order>
        <parametername>@iItemId</parametername>
        <dbtype>Int32</dbtype>
    </sql_parameter>
    <sql>
        <key>selectnextitem</key>
        <provider>oledb</provider>
        <value><![CDATA[
			SELECT TOP 1 l.iItemId, l.sGuid, f.sFieldName, f.sValue, 
			l.iParentId, l.iDeleted, l.iLevel
			FROM (SELECT * FROM List 
			WHERE iItemId > ?) AS l
			LEFT JOIN ListItemField  AS f 
			ON f.iItemId = l.iItemId
			ORDER BY iItemId ASC			
			]]></value>
    </sql>
    <sql_parameter>
        <key>item_id</key>
        <sqlkey>selectnextitem</sqlkey>
        <provider>oledb</provider>
        <order>1</order>
        <parametername>@iItemId</parametername>
        <dbtype>Int32</dbtype>
    </sql_parameter>
    <sql>
        <key>selectprevitem</key>
        <provider>oledb</provider>
        <value><![CDATA[
			SELECT TOP 1 l.iItemId, l.sGuid, f.sFieldName, f.sValue, 
			l.iParentId, l.iDeleted, l.iLevel
			FROM (SELECT * FROM List 
			WHERE iItemId < ?) AS l
			LEFT JOIN ListItemField  AS f 
			ON f.iItemId = l.iItemId
			ORDER BY iItemId DESC
			]]></value>
    </sql>
    <sql_parameter>
        <key>item_id</key>
        <sqlkey>selectprevitem</sqlkey>
        <provider>oledb</provider>
        <order>1</order>
        <parametername>@iItemId</parametername>
        <dbtype>Int32</dbtype>
    </sql_parameter>
    <sql>
        <key>insertitem</key>
        <provider>oledb</provider>
        <value><![CDATA[
			INSERT INTO List(iParentId, sGuid, sListName, iDeleted, iLevel)
			VALUES(?,?,?,?,?)
			]]></value>
    </sql>
    <sql_parameter>
        <sqlkey>insertitem</sqlkey>
        <provider>oledb</provider>
        <order>1</order>
        <parametername>@iParentId</parametername>
        <dbtype>Int32</dbtype>
        <key>parent_id</key>
    </sql_parameter>
    <sql_parameter>
        <sqlkey>insertitem</sqlkey>
        <provider>oledb</provider>
        <order>2</order>
        <parametername>@sGuid</parametername>
        <dbtype>String</dbtype>
        <key>guid</key>
    </sql_parameter>
    <sql_parameter>
        <sqlkey>insertitem</sqlkey>
        <provider>oledb</provider>
        <order>3</order>
        <parametername>@sListName</parametername>
        <dbtype>String</dbtype>
        <key>list_name</key>
    </sql_parameter>
    <sql_parameter>
        <sqlkey>insertitem</sqlkey>
        <provider>oledb</provider>
        <order>4</order>
        <parametername>@iDeleted</parametername>
        <dbtype>Int32</dbtype>
        <key>deleted</key>
    </sql_parameter>
    <sql_parameter>
        <sqlkey>insertitem</sqlkey>
        <provider>oledb</provider>
        <order>5</order>
        <parametername>@iLevel</parametername>
        <dbtype>Int32</dbtype>
        <key>level</key>
    </sql_parameter>
    <sql>
        <key>selectitemid</key>
        <provider>oledb</provider>
        <value><![CDATA[
			SELECT iItemId 
			FROM List 
			WHERE sGuid = ?
			AND iParentId = ?
			AND sListName = ?
			]]></value>
    </sql>
    <sql_parameter>
        <sqlkey>selectitemid</sqlkey>
        <provider>oledb</provider>
        <order>1</order>
        <parametername>@sGuid</parametername>
        <dbtype>String</dbtype>
        <key>guid</key>
    </sql_parameter>
    <sql_parameter>
        <sqlkey>selectitemid</sqlkey>
        <provider>oledb</provider>
        <order>2</order>
        <parametername>@iParentId</parametername>
        <dbtype>Int32</dbtype>
        <key>parent_id</key>
    </sql_parameter>
    <sql_parameter>
        <sqlkey>selectitemid</sqlkey>
        <provider>oledb</provider>
        <order>3</order>
        <parametername>@sListName</parametername>
        <dbtype>String</dbtype>
        <key>list_name</key>
    </sql_parameter>
    <sql>
        <key>insertfield</key>
        <provider>oledb</provider>
        <value><![CDATA[
			INSERT INTO ListItemField(iItemId, sFieldName, sValue)
			VALUES(?,?,?)
			]]></value>
    </sql>
    <sql_parameter>
        <sqlkey>insertfield</sqlkey>
        <provider>oledb</provider>
        <order>1</order>
        <parametername>@iItemId</parametername>
        <dbtype>Int32</dbtype>
        <key>item_id</key>
    </sql_parameter>
    <sql_parameter>
        <sqlkey>insertfield</sqlkey>
        <provider>oledb</provider>
        <order>2</order>
        <parametername>@sFieldName</parametername>
        <dbtype>String</dbtype>
        <key>field_name</key>
    </sql_parameter>
    <sql_parameter>
        <sqlkey>insertfield</sqlkey>
        <provider>oledb</provider>
        <order>3</order>
        <parametername>@sValue</parametername>
        <dbtype>String</dbtype>
        <key>value</key>
    </sql_parameter>
    <sql>
        <key>updateitem</key>
        <provider>oledb</provider>
        <value><![CDATA[
			UPDATE List SET 
			iParentId = ?, 
			sListName = ?, 
			iDeleted = ?, 
			iLevel = ?
			WHERE iItemId = ?
			]]></value>
    </sql>
    <sql_parameter>
        <sqlkey>updateitem</sqlkey>
        <provider>oledb</provider>
        <order>1</order>
        <parametername>@iParentId</parametername>
        <dbtype>Int32</dbtype>
        <key>parent_id</key>
    </sql_parameter>
    <sql_parameter>
        <sqlkey>updateitem</sqlkey>
        <provider>oledb</provider>
        <order>2</order>
        <parametername>@sListName</parametername>
        <dbtype>String</dbtype>
        <key>list_name</key>
    </sql_parameter>
    <sql_parameter>
        <sqlkey>updateitem</sqlkey>
        <provider>oledb</provider>
        <order>3</order>
        <parametername>@iDeleted</parametername>
        <dbtype>Int32</dbtype>
        <key>deleted</key>
    </sql_parameter>
    <sql_parameter>
        <sqlkey>updateitem</sqlkey>
        <provider>oledb</provider>
        <order>4</order>
        <parametername>@iLevel</parametername>
        <dbtype>Int32</dbtype>
        <key>level</key>
    </sql_parameter>
    <sql_parameter>
        <sqlkey>updateitem</sqlkey>
        <provider>oledb</provider>
        <order>5</order>
        <parametername>@iItemId</parametername>
        <dbtype>Int32</dbtype>
        <key>item_id</key>
    </sql_parameter>
    <sql>
        <key>deleteitem</key>
        <provider>oledb</provider>
        <value><![CDATA[
			DELETE FROM List WHERE iItemId = ?
			AND NOT iItemId IN (SELECT iParentId FROM List)
			]]></value>
    </sql>
    <sql_parameter>
        <sqlkey>deleteitem</sqlkey>
        <provider>oledb</provider>
        <order>1</order>
        <parametername>@iItemId</parametername>
        <dbtype>Int32</dbtype>
        <key>item_id</key>
    </sql_parameter>
    <sql>
        <key>deleteallfields</key>
        <provider>oledb</provider>
        <value><![CDATA[
			DELETE FROM ListItemField WHERE iItemId = ?
			]]></value>
    </sql>
    <sql_parameter>
        <sqlkey>deleteallfields</sqlkey>
        <provider>oledb</provider>
        <order>1</order>
        <parametername>@iItemId</parametername>
        <dbtype>Int32</dbtype>
        <key>item_id</key>
    </sql_parameter>
    <sql>
        <key>deletefield</key>
        <provider>oledb</provider>
        <value><![CDATA[
			DELETE FROM ListItemField WHERE (iItemId = ?) AND (sFieldName = ?)
			]]></value>
    </sql>
    <sql_parameter>
        <sqlkey>deletefield</sqlkey>
        <provider>oledb</provider>
        <order>1</order>
        <parametername>@iItemId</parametername>
        <dbtype>Int32</dbtype>
        <key>item_id</key>
    </sql_parameter>
    <sql_parameter>
        <sqlkey>deletefield</sqlkey>
        <provider>oledb</provider>
        <order>2</order>
        <parametername>@sFieldName</parametername>
        <dbtype>String</dbtype>
        <key>field_name</key>
    </sql_parameter>
    <sql>
        <key>findbyfield</key>
        <provider>oledb</provider>
        <value><![CDATA[
			SELECT l.iItemId, l.sGuid, f.sFieldName, f.sValue, 
			l.iParentId, l.iDeleted, l.iLevel 
			FROM (SELECT * FROM List AS l1
			INNER JOIN  ListItemField AS f1
			ON f1.iItemId=l1.iItemId
			WHERE (l1.sListName = ?)
			AND (f1.sFieldName = ?)
			AND (f1.sValue LIKE ?)) AS l
			LEFT JOIN ListItemField AS f 
			ON f.iItemId = l.iItemId
			ORDER BY iItemId
			]]></value>
    </sql>
    <sql_parameter>
        <sqlkey>findbyfield</sqlkey>
        <provider>oledb</provider>
        <order>1</order>
        <parametername>@sListName</parametername>
        <dbtype>String</dbtype>
        <key>list_name</key>
    </sql_parameter>
	<sql_parameter>
        <sqlkey>findbyfield</sqlkey>
        <provider>oledb</provider>
        <order>2</order>
        <parametername>@sFieldName</parametername>
        <dbtype>String</dbtype>
        <key>field_name</key>
    </sql_parameter>
    <sql_parameter>
        <sqlkey>findbyfield</sqlkey>
        <provider>oledb</provider>
        <order>3</order>
        <parametername>@sValue</parametername>
        <dbtype>String</dbtype>
        <key>value</key>
    </sql_parameter>
</root>