<?xml version="1.0" encoding="utf-8" ?>
<root>
	<common>
		<!--sql/oledb/odbc/oracle/mysql-->
		<provider>sql</provider>
		<!--Строка подключения к БД-->
		<connectionstring></connectionstring>
	</common>
	<table>
		<id>iLogId</id>
		<datetime>dtDateTime</datetime>
		<type>sType</type>
		<params>sParams</params>
		<site>sSite</site>
	</table>
	<sql>
		<key>writelog</key>
		<value><![CDATA[
		INSERT INTO Logs
		(dtDateTime, sType, sParams, sSite)
		VALUES(@dtDateTime, @sType, @sParams, @sSite)]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>writelog</sqlkey>
		<order>1</order>
		<parametername>@dtDateTime</parametername>
		<dbtype>DateTime</dbtype>
		<key>datetime</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>writelog</sqlkey>
		<order>2</order>
		<parametername>@sType</parametername>
		<dbtype>String</dbtype>
		<key>type</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>writelog</sqlkey>
		<order>3</order>
		<parametername>@sParams</parametername>
		<dbtype>String</dbtype>
		<key>params</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>writelog</sqlkey>
		<order>4</order>
		<parametername>@sSite</parametername>
		<dbtype>String</dbtype>
		<key>site</key>
	</sql_parameter>
	<sql>
		<key>getcount</key>
		<value><![CDATA[SELECT COUNT(*) FROM Logs WHERE sType=@sType AND sSite=@sSite]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>getcount</sqlkey>
		<order>1</order>
		<parametername>@sType</parametername>
		<dbtype>String</dbtype>
		<key>type</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>getcount</sqlkey>
		<order>2</order>
		<parametername>@sSite</parametername>
		<dbtype>String</dbtype>
		<key>site</key>
	</sql_parameter>
	<sql>
		<key>getcountat</key>
		<value><![CDATA[SELECT COUNT(*) FROM Logs WHERE sType=@sType AND dtDateTime<@dtAfter AND dtDateTime>@dtBefore  AND sSite=@sSite]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>getcountat</sqlkey>
		<order>1</order>
		<parametername>@sType</parametername>
		<dbtype>String</dbtype>
		<key>type</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>getcountat</sqlkey>
		<order>2</order>
		<parametername>@dtAfter</parametername>
		<dbtype>DateTime</dbtype>
		<key>after</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>getcountat</sqlkey>
		<order>3</order>
		<parametername>@dtBefore</parametername>
		<dbtype>DateTime</dbtype>
		<key>before</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>getcountat</sqlkey>
		<order>4</order>
		<parametername>@sSite</parametername>
		<dbtype>String</dbtype>
		<key>site</key>
	</sql_parameter>
	<sql>
		<key>getall</key>
		<value><![CDATA[SELECT * FROM Logs WHERE sSite=@sSite]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>getall</sqlkey>
		<order>1</order>
		<parametername>@sSite</parametername>
		<dbtype>String</dbtype>
		<key>site</key>
	</sql_parameter>
	<sql>
		<key>gettypes</key>
		<value><![CDATA[SELECT DISTINCT sType FROM Logs WHERE sSite=@sSite]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>gettypes</sqlkey>
		<order>1</order>
		<parametername>@sSite</parametername>
		<dbtype>String</dbtype>
		<key>site</key>
	</sql_parameter>

	<sql>
		<key>dellog</key>
		<value><![CDATA[
		DELETE FROM Logs WHERE
		iLogId = @iLogId
		]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>dellog</sqlkey>
		<order>1</order>
		<parametername>@iLogId</parametername>
		<dbtype>Int32</dbtype>
		<key>id</key>
	</sql_parameter>
	
	<sql>
		<key>getbyparams</key>
		<value><![CDATA[
		SELECT * FROM Logs WHERE
		 (sType=@sType OR @sType IS NULL)
		 AND (dtDateTime < @dtAfter OR @dtAfter IS NULL)
		 AND (dtDateTime > @dtBefore OR @dtBefore IS NULL)
		 AND (sParams LIKE '%' + @sParams + '%' OR @sParams IS NULL)
		 AND sSite=@sSite
		]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>getbyparams</sqlkey>
		<order>1</order>
		<parametername>@sType</parametername>
		<dbtype>String</dbtype>
		<key>type</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>getbyparams</sqlkey>
		<order>2</order>
		<parametername>@dtAfter</parametername>
		<dbtype>DateTime</dbtype>
		<key>after</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>getbyparams</sqlkey>
		<order>3</order>
		<parametername>@dtBefore</parametername>
		<dbtype>DateTime</dbtype>
		<key>before</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>getbyparams</sqlkey>
		<order>4</order>
		<parametername>@sParams</parametername>
		<dbtype>String</dbtype>
		<key>params</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>getbyparams</sqlkey>
		<order>5</order>
		<parametername>@sSite</parametername>
		<dbtype>String</dbtype>
		<key>site</key>
	</sql_parameter>
</root>