<?xml version="1.0" standalone="yes"?>
<main>
  <defaultskin>default</defaultskin>
  <ext>/</ext>
  <img>~/img</img>
  <css>~/css</css>
  <script>~/script</script>
  <files>~/files</files>
  <constr />
  <loginpage>~/login/</loginpage>
  <imagepage>~/image.ashx</imagepage>
  <redirectpage>~/redirect/</redirectpage>
  <downloadpage>~/filedownload.aspx</downloadpage>
  <htmleditorpage>~/admin/htmleditor.aspx</htmleditorpage>
  <filemanagerpage>~/admin/filemanager_d.aspx</filemanagerpage>
  <timepickerpage>~/admin/timepicker.aspx</timepickerpage>
  <datepickerpage>~/admin/datepicker.aspx</datepickerpage>
  <deftemplate>templates/default/template1.aspx</deftemplate>
  <admindefault>~/admin/default.aspx</admindefault>
  <adminloginpage>~/admin/login.aspx</adminloginpage>
  <adminpass>3KH5Ak5UXD+0QbhcrDDH2+FofNo=</adminpass>
  <managerpass>3KH5Ak5UXD+0QbhcrDDH2+FofNo=</managerpass>
  <encryptionkey>6773741cd1fb4b1b</encryptionkey>
  <encryptionvi>266a8d76a516448a</encryptionvi>
  <enclevel>2</enclevel>
  <enableauth>0</enableauth>
  <titleseparator> / </titleseparator>
  <timezone>1</timezone>
  <onlinetimeout>10</onlinetimeout>
  <logredirect>0</logredirect>
  <logerror>0</logerror>
  <logdownload>0</logdownload>
  <off>0</off>
  <custom />
  <redirectall>~/default.aspx</redirectall>
  <seoerror>0</seoerror>
  <hashmode>1</hashmode>
  <pagecache>60</pagecache>
</main>