<?xml version="1.0" encoding="utf-8"?>
<root>
  <url>/</url>
  <text>SotaSimpleSite</text>
  <item>
    <url>/enter/</url>
    <text>Вход на сайт</text>
    <path>enter</path>
    <type>Page</type>
    <hidden />
  </item>
  <item>
    <url>/</url>
    <text>Главная</text>
    <path>default</path>
    <type>Page</type>
  </item>
  <item>
    <url>/about/</url>
    <text>О проекте</text>
    <path>about</path>
    <type>Page</type>
    <item>
      <url>/11/</url>
      <text>11</text>
      <path>11</path>
      <type>Page</type>
      <item>
        <url>/about/111/</url>
        <text>111</text>
        <path>about/111</path>
        <type>Page</type>
      </item>
    </item>
  </item>
  <item>
    <url>/contact/</url>
    <text>Контакты</text>
    <path>contact</path>
    <type>Page</type>
  </item>
</root>