<?xml version="1.0" standalone="yes"?>
<pagexes>
  <pagex>
    <path>admin/list</path>
    <value>admin/list/*</value>
  </pagex>
  <pagex>
    <path>admin/oldlist</path>
    <value>admin/oldlist/*</value>
  </pagex>
  <pagex>
    <path>admin/security/default</path>
    <value>admin/security/*</value>
  </pagex>
  <pagex>
    <path>admin/config_list</path>
    <value>admin/config/list/*</value>
  </pagex>
  <pagex>
    <path>admin/default</path>
    <value>admin</value>
  </pagex>
	<pagex>
		<path>articles</path>
		<value>articles/*</value>
	</pagex>
	<pagex>
		<path>articles/auto</path>
		<value>articles/auto/*</value>
	</pagex>
</pagexes>