<?xml version="1.0" encoding="utf-8" ?> 
<root>
	<se>
		<name>Unknown</name>
		<browser>Unknown</browser>
		<ip />
	</se>
	<se>
		<name>Yandex</name>
		<browser>%Yandex/%</browser>
		<ip />
	</se>
	<se>
		<name>Google</name>
		<browser>%Googlebot/%</browser>
		<ip />
	</se>
	<se>
		<name>Yahoo</name>
		<browser>%Yahoo! Slurp%</browser>
		<ip />
	</se>
	<se>
		<name>Mail.Ru</name>
		<browser>%Mail.Ru/%</browser>
		<ip />
	</se>
	<se>
		<name>Msn</name>
		<browser>%msnbot-media/%</browser>
		<ip />
	</se>
	<se>
		<name>Aport</name>
		<browser>%AportCatalogRobot/%</browser>
		<ip />
	</se>
	<se>
		<name>SurveyBot</name>
		<browser>%SurveyBot/%</browser>
		<ip />
	</se>
</root>