<?xml version="1.0" encoding="utf-8" ?>
<root>
	<common>
		<!--sql/oledb/odbc/oracle/mysql-->
		<provider>sql</provider>
		<!--Строка подключения к БД-->
		<connectionstring></connectionstring>
	</common>
	<mail>
		<!--e-mail с которого приходят письма-->
		<from>support@donhost.ru</from>
		<!--smtp-сервер-->
		<smtp>localhost</smtp>
		<!--smtp-логин-->
		<login></login>
		<!--smtp-пароль-->
		<password></password>
		<!--использовать ssl-->
		<ssl>0</ssl>
	</mail>
	<password_recovery>
		<!--Тема письма напоминания пароля-->
		<mail_subject>Напоминание пароля</mail_subject>
		<!--Текст письма напоминания пароля-->
		<mail_body>
			<![CDATA[
		Вы зарегистрированы на сайте <a href="$site$">$site$</a>.<br>
		Логин: $login$<br>
		Пароль: $password$
		]]></mail_body>
	</password_recovery>
	<password_confirmation>
		<!--Тема письма подтверждения смены пароля-->
		<mail_subject>Подтверждение смены пароля</mail_subject>
		<!--Текст письма подтверждения смены пароля-->
		<mail_body>
			<![CDATA[
		Вы зарегистрированы на сайте <a href="$site$">$site$</a>.<br>
		Кто-то (возможно Вы) инициировал процедуру смены пароля.<br>
		Если это сделали Вы, пройдите по ссылке (при этом Ваш пароль будет сменен и выслан на этот адрес):<br>
		<a href="ССЫЛКА НА СТРАНИЦУ ПОДТВЕРЖДЕНИЯ СМЕНЯ ПАРОЛЯ?code=$code$&login=$login$">ССЫЛКА НА СТРАНИЦУ ПОДТВЕРЖДЕНИЯ СМЕНЯ ПАРОЛЯ?code=$code$&login=$login$</a>		
		<br>
		Если Вы не хотите менять пароль - просто удалите это письмо.
		]]>
		</mail_body>
	</password_confirmation>
	<activation>
		<!--none(нет активации)/password(пароль на e-mail)/code(код активации на e-mail)-->
		<type>none</type>
		<!--Тема письма с активацией-->
		<mail_subject>Активация учетной записи</mail_subject>
		<!--Текст письма с активацией-->
		<mail_body>
			<![CDATA[
		Вы зарегистрированы на сайте <a href="$site$">$site$</a>.<br>
		Для активации вашей учетной записи вам нужно пройти по ссылке:<br>
		<a href="ССЫЛКА НА СТРАНИЦУ АКТИВАЦИИ?code=$code$">ССЫЛКА НА СТРАНИЦУ АКТИВАЦИИ?code=$code$</a>		
		]]>
		</mail_body>
	</activation>
	<user_table>
		<userid>iUserId</userid>
		<login>sLogin</login>
		<email>sEmail</email>
		<password>sPassword</password>
		<enabled>iEnabled</enabled>
		<code>sActivationCode</code>
	</user_table>
	<user_field_table>
		<userid>iUserId</userid>
		<field>sFieldName</field>
		<value>sValue</value>
	</user_field_table>
	<group_table>
		<groupid>iGroupId</groupid>
		<groupname>sGroupName</groupname>
	</group_table>
	<useringroup_table>
		<groupid>iGroupId</groupid>
		<userid>iUserId</userid>
	</useringroup_table>
	<part_table>
		<partid>iPartId</partid>
		<partname>sPartName</partname>
	</part_table>
	<action_table>
		<actionid>iActionId</actionid>
		<actionvar>sActionId</actionvar>
		<actionname>sActionName</actionname>
	</action_table>
	<accessrule_table>
		<groupid>iGroupId</groupid>
		<partid>iPartId</partid>
		<actionid>iActionId</actionid>
	</accessrule_table>
	<sql>
		<key>selectparts</key>
		<value><![CDATA[SELECT * FROM SecurityPart]]></value>
	</sql>
	<sql>
		<key>insertpart</key>
		<value><![CDATA[INSERT INTO SecurityPart(sPartName)VALUES(@sPartName)]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>insertpart</sqlkey>
		<order>1</order>
		<parametername>@sPartName</parametername>
		<dbtype>String</dbtype>
		<key>part_name</key>
	</sql_parameter>
	<sql>
		<key>selectpartid</key>
		<value><![CDATA[SELECT iPartId FROM SecurityPart WHERE sPartName=@sPartName]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>selectpartid</sqlkey>
		<order>1</order>
		<parametername>@sPartName</parametername>
		<dbtype>String</dbtype>
		<key>part_name</key>
	</sql_parameter>
	<sql>
		<key>updatepart</key>
		<value><![CDATA[UPDATE SecurityPart SET sPartName=@sPartName WHERE iPartId=@iPartId]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>updatepart</sqlkey>
		<order>1</order>
		<parametername>@sPartName</parametername>
		<dbtype>String</dbtype>
		<key>part_name</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>updatepart</sqlkey>
		<order>2</order>
		<parametername>@iPartId</parametername>
		<dbtype>Int32</dbtype>
		<key>part_id</key>
	</sql_parameter>
	<sql>
		<key>deletepart</key>
		<value><![CDATA[DELETE FROM SecurityPart WHERE iPartId=@iPartId]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>deletepart</sqlkey>
		<order>1</order>
		<parametername>@iPartId</parametername>
		<dbtype>Int32</dbtype>
		<key>part_id</key>
	</sql_parameter>
	<sql>
		<key>selectgroups</key>
		<value><![CDATA[SELECT * FROM UserGroup]]></value>
	</sql>
	<sql>
		<key>insertgroup</key>
		<value><![CDATA[INSERT INTO UserGroup(sGroupName)VALUES(@sGroupName)]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>insertgroup</sqlkey>
		<order>1</order>
		<parametername>@sGroupName</parametername>
		<dbtype>String</dbtype>
		<key>group_name</key>
	</sql_parameter>
	<sql>
		<key>selectgroupid</key>
		<value><![CDATA[SELECT iGroupId FROM UserGroup WHERE sGroupName=@sGroupName]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>selectgroupid</sqlkey>
		<order>1</order>
		<parametername>@sGroupName</parametername>
		<dbtype>String</dbtype>
		<key>group_name</key>
	</sql_parameter>
	<sql>
		<key>updategroup</key>
		<value><![CDATA[UPDATE UserGroup SET sGroupName=@sGroupName WHERE iGroupId=@iGroupId]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>updategroup</sqlkey>
		<order>1</order>
		<parametername>@sGroupName</parametername>
		<dbtype>String</dbtype>
		<key>group_name</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>updategroup</sqlkey>
		<order>2</order>
		<parametername>@iGroupId</parametername>
		<dbtype>Int32</dbtype>
		<key>group_id</key>
	</sql_parameter>
	<sql>
		<key>deletegroup</key>
		<value><![CDATA[DELETE FROM UserGroup WHERE iGroupId=@iGroupId]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>deletegroup</sqlkey>
		<order>1</order>
		<parametername>@iGroupId</parametername>
		<dbtype>Int32</dbtype>
		<key>group_id</key>
	</sql_parameter>
	<sql>
		<key>selectactions</key>
		<value><![CDATA[SELECT * FROM [Action]]]></value>
	</sql>
	<sql>
		<key>insertaction</key>
		<value><![CDATA[INSERT INTO [Action](sActionId,sActionName)VALUES(@sActionId,@sActionName)]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>insertaction</sqlkey>
		<order>1</order>
		<parametername>@sActionId</parametername>
		<dbtype>String</dbtype>
		<key>action_var</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>insertaction</sqlkey>
		<order>2</order>
		<parametername>@sActionName</parametername>
		<dbtype>String</dbtype>
		<key>action_name</key>
	</sql_parameter>
	<sql>
		<key>selectactionid</key>
		<value><![CDATA[SELECT iActionId FROM [Action] WHERE sActionId=@sActionId]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>selectactionid</sqlkey>
		<order>1</order>
		<parametername>@sActionId</parametername>
		<dbtype>String</dbtype>
		<key>action_var</key>
	</sql_parameter>
	<sql>
		<key>updateaction</key>
		<value><![CDATA[UPDATE [Action] SET sActionId = @sActionId, sActionName=@sActionName WHERE iActionId=@iActionId]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>updateaction</sqlkey>
		<order>1</order>
		<parametername>@sActionId</parametername>
		<dbtype>String</dbtype>
		<key>action_var</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>updateaction</sqlkey>
		<order>2</order>
		<parametername>@sActionName</parametername>
		<dbtype>String</dbtype>
		<key>action_name</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>updateaction</sqlkey>
		<order>3</order>
		<parametername>@iActionId</parametername>
		<dbtype>Int32</dbtype>
		<key>action_id</key>
	</sql_parameter>
	<sql>
		<key>deleteaction</key>
		<value><![CDATA[DELETE FROM [Action] WHERE iActionId=@iActionId]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>deleteaction</sqlkey>
		<order>1</order>
		<parametername>@iActionId</parametername>
		<dbtype>Int32</dbtype>
		<key>action_id</key>
	</sql_parameter>
	<sql>
		<key>selectusers</key>
		<value><![CDATA[SELECT * FROM [User]]]></value>
	</sql>
	<sql>
		<key>selectuser</key>
		<value><![CDATA[SELECT * FROM [User] WHERE iUserId=@iUserId]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>selectuser</sqlkey>
		<order>1</order>
		<parametername>@iUserId</parametername>
		<dbtype>Int32</dbtype>
		<key>user_id</key>
	</sql_parameter>
	<sql>
		<key>loginuser</key>
		<value><![CDATA[SELECT * FROM [User] WHERE sLogin=@sLogin AND iEnabled=1]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>loginuser</sqlkey>
		<order>1</order>
		<parametername>@sLogin</parametername>
		<dbtype>String</dbtype>
		<key>login</key>
	</sql_parameter>
	<sql>
		<key>insertuser</key>
		<value><![CDATA[INSERT INTO [User](sLogin,sPassword,sEmail,iEnabled)VALUES(@sLogin,@sPassword,@sEmail,@iEnabled)]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>insertuser</sqlkey>
		<order>1</order>
		<parametername>@sLogin</parametername>
		<dbtype>String</dbtype>
		<key>login</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>insertuser</sqlkey>
		<order>2</order>
		<parametername>@sPassword</parametername>
		<dbtype>String</dbtype>
		<key>password</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>insertuser</sqlkey>
		<order>3</order>
		<parametername>@sEmail</parametername>
		<dbtype>String</dbtype>
		<key>email</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>insertuser</sqlkey>
		<order>4</order>
		<parametername>@iEnabled</parametername>
		<dbtype>Int32</dbtype>
		<key>enabled</key>
	</sql_parameter>
	<sql>
		<key>selectuserid</key>
		<value><![CDATA[SELECT iUserId FROM [User] WHERE sLogin=@sLogin]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>selectuserid</sqlkey>
		<order>1</order>
		<parametername>@sLogin</parametername>
		<dbtype>String</dbtype>
		<key>login</key>
	</sql_parameter>
	<sql>
		<key>updateuser</key>
		<value><![CDATA[UPDATE [User] SET sLogin=@sLogin, sEmail=@sEmail, iEnabled=@iEnabled WHERE iUserId=@iUserId]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>updateuser</sqlkey>
		<order>1</order>
		<parametername>@sLogin</parametername>
		<dbtype>String</dbtype>
		<key>login</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>updateuser</sqlkey>
		<order>2</order>
		<parametername>@sEmail</parametername>
		<dbtype>String</dbtype>
		<key>email</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>updateuser</sqlkey>
		<order>3</order>
		<parametername>@iEnabled</parametername>
		<dbtype>Int32</dbtype>
		<key>enabled</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>updateuser</sqlkey>
		<order>4</order>
		<parametername>@iUserId</parametername>
		<dbtype>Int32</dbtype>
		<key>user_id</key>
	</sql_parameter>
	<sql>
		<key>changeuserpassword</key>
		<value><![CDATA[UPDATE [User] SET sPassword=@sPassword WHERE iUserId=@iUserId]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>changeuserpassword</sqlkey>
		<order>1</order>
		<parametername>@sPassword</parametername>
		<dbtype>String</dbtype>
		<key>password</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>changeuserpassword</sqlkey>
		<order>2</order>
		<parametername>@iUserId</parametername>
		<dbtype>Int32</dbtype>
		<key>user_id</key>
	</sql_parameter>


	<sql>
		<key>beginchangepassowrd</key>
		<value><![CDATA[UPDATE [User] SET sActivationCode=@sActivationCode WHERE iUserId=@iUserId]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>beginchangepassowrd</sqlkey>
		<order>1</order>
		<parametername>@sActivationCode</parametername>
		<dbtype>String</dbtype>
		<key>code</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>beginchangepassowrd</sqlkey>
		<order>2</order>
		<parametername>@iUserId</parametername>
		<dbtype>Int32</dbtype>
		<key>user_id</key>
	</sql_parameter>
	<sql>
		<key>endchangepassowrd</key>
		<value><![CDATA[UPDATE [User] SET sActivationCode=null, sPassword=@sPassword WHERE sActivationCode=@sActivationCode AND sLogin=@sLogin]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>endchangepassowrd</sqlkey>
		<order>2</order>
		<parametername>@sPassword</parametername>
		<dbtype>String</dbtype>
		<key>password</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>endchangepassowrd</sqlkey>
		<order>2</order>
		<parametername>@sActivationCode</parametername>
		<dbtype>String</dbtype>
		<key>code</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>endchangepassowrd</sqlkey>
		<order>3</order>
		<parametername>@sLogin</parametername>
		<dbtype>String</dbtype>
		<key>login</key>
	</sql_parameter>
	<sql>
		<key>deleteuser</key>
		<value><![CDATA[DELETE FROM [User] WHERE iUserId=@iUserId]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>deleteuser</sqlkey>
		<order>1</order>
		<parametername>@iUserId</parametername>
		<dbtype>Int32</dbtype>
		<key>user_id</key>
	</sql_parameter>
	<sql>
		<key>usertogroup</key>
		<value><![CDATA[INSERT INTO UserInGroup(iUserId,iGroupId)VALUES(@iUserId,@iGroupId)]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>usertogroup</sqlkey>
		<order>1</order>
		<parametername>@iUserId</parametername>
		<dbtype>Int32</dbtype>
		<key>user_id</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>usertogroup</sqlkey>
		<order>2</order>
		<parametername>@iGroupId</parametername>
		<dbtype>Int32</dbtype>
		<key>group_id</key>
	</sql_parameter>
	<sql>
		<key>userfromgroup</key>
		<value><![CDATA[DELETE FROM UserInGroup WHERE iUserId=@iUserId AND iGroupId=@iGroupId]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>userfromgroup</sqlkey>
		<order>1</order>
		<parametername>@iUserId</parametername>
		<dbtype>Int32</dbtype>
		<key>user_id</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>userfromgroup</sqlkey>
		<order>2</order>
		<parametername>@iGroupId</parametername>
		<dbtype>Int32</dbtype>
		<key>group_id</key>
	</sql_parameter>
	<sql>
		<key>userfromallgroup</key>
		<value><![CDATA[DELETE FROM UserInGroup WHERE iUserId=@iUserId]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>userfromallgroup</sqlkey>
		<order>1</order>
		<parametername>@iUserId</parametername>
		<dbtype>Int32</dbtype>
		<key>user_id</key>
	</sql_parameter>
	<sql>
		<key>insertaccessrule</key>
		<value><![CDATA[INSERT INTO AccessRule(iGroupId,iPartId,iActionId)VALUES(@iGroupId,@iPartId,@iActionId)]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>insertaccessrule</sqlkey>
		<order>1</order>
		<parametername>@iGroupId</parametername>
		<dbtype>Int32</dbtype>
		<key>group_id</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>insertaccessrule</sqlkey>
		<order>2</order>
		<parametername>@iPartId</parametername>
		<dbtype>Int32</dbtype>
		<key>part_id</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>insertaccessrule</sqlkey>
		<order>3</order>
		<parametername>@iActionId</parametername>
		<dbtype>Int32</dbtype>
		<key>action_id</key>
	</sql_parameter>
	<sql>
		<key>deleteaccessrule</key>
		<value><![CDATA[DELETE FROM AccessRule WHERE iGroupId=@iGroupId AND iPartId=@iPartId AND iActionId=@iActionId]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>deleteaccessrule</sqlkey>
		<order>1</order>
		<parametername>@iGroupId</parametername>
		<dbtype>Int32</dbtype>
		<key>group_id</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>deleteaccessrule</sqlkey>
		<order>2</order>
		<parametername>@iPartId</parametername>
		<dbtype>Int32</dbtype>
		<key>part_id</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>deleteaccessrule</sqlkey>
		<order>3</order>
		<parametername>@iActionId</parametername>
		<dbtype>Int32</dbtype>
		<key>action_id</key>
	</sql_parameter>
	<sql>
		<key>selectaccessrules</key>
		<value><![CDATA[
				SELECT r.iPartId, r.iGroupId, r.iActionId,
				p.sPartName, g.sGroupName, a.sActionName, a.sActionId
				FROM AccessRule r
				LEFT JOIN SecurityPart p
				ON p.iPartId = r.iPartId
				LEFT JOIN UserGroup g
				ON g.iGroupId = r.iGroupId
				LEFT JOIN [Action] a
				ON a.iActionId = r.iActionId
				]]></value>
	</sql>
	<sql>
		<key>selectuseringroup</key>
		<value><![CDATA[
				SELECT ug.iUserId, ug.iGroupId, u.sLogin, g.sGroupName 
				FROM [UserInGroup] ug 
				LEFT JOIN [User] u
				ON u.iUserId = ug.iUserId
				LEFT JOIN [UserGroup] g
				ON g.iGroupId = ug.iGroupId
				]]></value>
	</sql>
	<sql>
		<key>selectusergroup</key>
		<value><![CDATA[
				SELECT ug.iGroupId, g.sGroupName 
				FROM [UserInGroup] ug 
				LEFT JOIN [UserGroup] g
				ON g.iGroupId = ug.iGroupId
				WHERE ug.iUserId = @iUserId
				]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>selectusergroup</sqlkey>
		<order>1</order>
		<parametername>@iUserId</parametername>
		<dbtype>Int32</dbtype>
		<key>user_id</key>
	</sql_parameter>
	<sql>
		<key>beginactivation</key>
		<value><![CDATA[UPDATE [User] SET sActivationCode=@sActivationCode, iEnabled=0 WHERE iUserId=@iUserId]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>beginactivation</sqlkey>
		<order>1</order>
		<parametername>@sActivationCode</parametername>
		<dbtype>String</dbtype>
		<key>code</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>beginactivation</sqlkey>
		<order>2</order>
		<parametername>@iUserId</parametername>
		<dbtype>Int32</dbtype>
		<key>user_id</key>
	</sql_parameter>
	<sql>
		<key>endactivation</key>
		<value><![CDATA[UPDATE [User] SET sActivationCode=null, iEnabled=1 WHERE sActivationCode=@sActivationCode]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>endactivation</sqlkey>
		<order>1</order>
		<parametername>@sActivationCode</parametername>
		<dbtype>String</dbtype>
		<key>code</key>
	</sql_parameter>
	<sql>
		<key>setuserfield</key>
		<value><![CDATA[INSERT INTO [UserField](iUserId,sFieldName,sValue)VALUES(@iUserId,@sFieldName,@sValue)]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>setuserfield</sqlkey>
		<order>1</order>
		<parametername>@iUserId</parametername>
		<dbtype>Int32</dbtype>
		<key>user_id</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>setuserfield</sqlkey>
		<order>2</order>
		<parametername>@sFieldName</parametername>
		<dbtype>String</dbtype>
		<key>field</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>setuserfield</sqlkey>
		<order>3</order>
		<parametername>@sValue</parametername>
		<dbtype>String</dbtype>
		<key>value</key>
	</sql_parameter>
	<sql>
		<key>getuserfield</key>
		<value><![CDATA[SELECT * FROM [UserField] WHERE iUserId=@iUserId AND sFieldName=@sFieldName]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>getuserfield</sqlkey>
		<order>1</order>
		<parametername>@iUserId</parametername>
		<dbtype>Int32</dbtype>
		<key>user_id</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>getuserfield</sqlkey>
		<order>2</order>
		<parametername>@sFieldName</parametername>
		<dbtype>String</dbtype>
		<key>field</key>
	</sql_parameter>
	<sql>
		<key>removeuserfield</key>
		<value><![CDATA[DELETE FROM [UserField] WHERE iUserId=@iUserId AND sFieldName=@sFieldName]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>removeuserfield</sqlkey>
		<order>1</order>
		<parametername>@iUserId</parametername>
		<dbtype>Int32</dbtype>
		<key>user_id</key>
	</sql_parameter>
	<sql_parameter>
		<sqlkey>removeuserfield</sqlkey>
		<order>2</order>
		<parametername>@sFieldName</parametername>
		<dbtype>String</dbtype>
		<key>field</key>
	</sql_parameter>
	<sql>
		<key>removealluserfield</key>
		<value><![CDATA[DELETE FROM [UserField] WHERE iUserId=@iUserId]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>removealluserfield</sqlkey>
		<order>1</order>
		<parametername>@iUserId</parametername>
		<dbtype>Int32</dbtype>
		<key>user_id</key>
	</sql_parameter>
	<sql>
		<key>getalluserfield</key>
		<value><![CDATA[SELECT * FROM [UserField] WHERE iUserId=@iUserId]]></value>
	</sql>
	<sql_parameter>
		<sqlkey>getalluserfield</sqlkey>
		<order>1</order>
		<parametername>@iUserId</parametername>
		<dbtype>Int32</dbtype>
		<key>user_id</key>
	</sql_parameter>
</root>