<?xml version="1.0" standalone="yes"?>
<root>
  <template>
    <file>templates/default/template1.aspx</file>
    <name>По-умолчанию</name>
  </template>
  <template>
    <file>templates/bootstrap3/bootstrap3.aspx</file>
    <name>Bootstrap3</name>
  </template>
  <template>
    <file>templates/template2.aspx</file>
    <name>Вложенный шаблон</name>
  </template>
</root>